<div class="container">
  <h1>Stupid coaching</h1>
  <form action="/answer">
    <label for="question"><p>Ask your coach anything</p></label>
    <input type="text" name="question" id="question" placeholder="Ask something...">
    <input type="submit" value="Ask the coach!" id="submit">
  </form>
</div>